extends layout

block content   
  div(class="row")
    div(id="center_content" class="col-sm-8")
      div(id="game_display" class="d-flex justify-content-center")
        iframe(id="siframe" src="http://ntry.com/scores/powerball/live.php" style="top:-300px;width: 830px; height: 620px;" frameborder="0" scrolling="no" align="center")
      div()
    div(id="fixed_content" class="col-sm-4")
      div(class="card")
        div(class="card-header") Time
      div(class="card-body")
        h5(class="card-title") Title
        p(class="card-text") Text 2020-02-11T15:21:10.997Z


  
					
				

