doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")    
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/mdc/material-components-web.min.css')    
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')    
    
    
    script(src="https://kit.fontawesome.com/81bad6d434.js")
    script(src="/libs/jquery-3.4.1.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/mdc/material-components-web.min.js")
    script(src="/javascripts/cdh.js")
    script(src="/javascripts/main.js")
  body
    div(id="cointainer")
      div(id="infor_menu")
        div(id="infor_menu_container")
          p()
            i(class="fas fa-user-tie")
            label()=user_name +" 님"
          p()
            img(src="./images/bet_m.png" width=72 height=20)
            label=`${win_count} 원`
          p
            img(src="./images/have_m.png")
            label=`${user_money} 원/ ${user_point} P`
          p
            img(src="./images/point_b.png" width=72 height=20)
          p
            i(class="fas fa-envelope")
            label=`(${memo_count}개)`
          p
            i(class="fas fa-sign-out-alt")
            button(class="") 로그 아웃
      div(id="title_region")
        h1 Title Here
      div(id="main_menu")
        a() 오토
        a() 베팅내역
        a() 충전신청 
        a() 환전신청
        a() 공지사항  
        a() 고객센터
      div(id="notification_zone")
        label Notification here
      div(id="main_content" class="container")
    block content
