extends layout
block content
    div(class="mdc-tab-bar" role="tablist")
        div(class="mdc-tab-scroller")
            div(class="mdc-tab-scroller__scroll-area")
                div(class="mdc-tab-scroller__scroll-content")
                    button(class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0")
                        span(class="mdc-tab__content")
                            span(class="mdc-tab__icon material-icons" aria-hidden="true")
                            span(class="mdc-tab__text-label") Input Result
                        span(class="mdc-tab-indicator mdc-tab-indicator--active")
                            span(class="mdc-tab-indicator__content mdc-tab-indicator__content--underline")
                        span(class="mdc-tab__ripple")
                    button(class="mdc-tab mdc-tab" role="tab" aria-selected="false" tabindex="1")
                        span(class="mdc-tab__content")
                            span(class="mdc-tab__icon material-icons" aria-hidden="true")
                            span(class="mdc-tab__text-label") Prediction
                        span(class="mdc-tab-indicator")
                            span(class="mdc-tab-indicator__content mdc-tab-indicator__content--underline")
                        span(class="mdc-tab__ripple")
    hr(style="margin:10px 00px")

    div(class="container" id="result_page")
        div(class="d-inline-flex align-items-center")
            button(class="mdc-button mdc-button--raised mdc-ripple" id="submit_result0")
                div(class="mdc-button__ripple")
                span(class="mdc-button__label") ADD 0                
            button(class="mdc-button mdc-button--raised mdc-ripple" id="submit_result1")
                div(class="mdc-button__ripple")
                span(class="mdc-button__label") ADD 1
        div( id="result_content")
    
    div(class="container" id="predict_page" style="display:none;margin-top:10px")

        div(class="mdc-text-field mdc-text-field--outlined")
            input(type="text" id="sample-input" class="mdc-text-field__input"  )
            div(class="mdc-notched-outline")
                div( class="mdc-notched-outline__leading")
                div( class="mdc-notched-outline__notch")
                    label(for="sample-input" class="mdc-floating-label") sample result             
                div( class="mdc-notched-outline__trailing")
      
        
            
            
        div(class="d-flex justify-content-between" style="margin-top:10px")
            button(class="mdc-button mdc-button--raised mdc-ripple predict" table-data="8") Result 8
            button(class="mdc-button mdc-button--raised mdc-ripple predict" table-data="9") Result 9
            button(class="mdc-button mdc-button--raised mdc-ripple predict" table-data="10") Result 10
            button(class="mdc-button mdc-button--raised mdc-ripple predict" table-data="20") Result 20
        div( id="predict_content")
        
            
            
        