body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #111d33;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #505051, #2b2e34); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #505051, #2b2e34); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: url(../images/login_bg.jpg); */
    background-repeat: no-repeat;
}

a {
    color: #00B7FF;
}

#magam_win {
    position: absolute;
    width: 100%;
    top: 230px;
    height: 1680px;
    z-index: 999;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 0 10px;
    display: none;
}

#player_blur {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(85, 85, 85);
}

#infor_menu {
    width: 100%;
    background-color: black;
    color: white;
}

#infor_menu_container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#game_display {
    width: 100%;
    overflow-x: scroll;
}

#result_content label {
    display: block;
}

#result_content .badge {
    width: 20px;
}